$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

$dark: #222;
$light: #eeeeee;
$colorA: #2C3E50;
$colorB: #336E7B;
$colorC: #3A539B;
$colorD: #9BC9F0;

.title {
    background-color: $dark;
    color: $light;
}

section#links {
    background-color: $colorD;
}

section#projects > div:nth-child(2n+2) {
    background-color: $colorA;
}
section#projects > div:nth-child(4n+3) {
    background-color: $colorB;
}
section#projects > div:nth-child(4n+5) {
    background-color: $colorC;
}

section#likeable-things > div:nth-child(2) {
    background-color:$colorA;
    li {
        padding: 30px;
    }
}

section#footer {
    @extend .title;
    padding-top: 20px;
}

@mixin default-text-color() {
    color: $light;
    text-shadow: 0.5px 0.5px 1px $dark;
}
body {
    text-align: center;
    @include default-text-color;
}
a, a:hover { 
    @include default-text-color;
}

.github-logo {
    height: 80px;
}
.linkedin-logo {
    height: 44px;
}

#top, #projects, #likeable-things, #links {
    > div {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

#projects {
    div:first-child h2 {
        text-align: center;
    }

    > div:nth-of-type(2n+2) {
        text-align: left;

        img {
            float: left;
        }
    }

    > div:nth-of-type(2n+1) {
        text-align: right;

        img {
            float: right;
        }
    }

    img {
        border: 1px solid black;
        padding: 2px;
        background: grey;
        margin: 10px;
    }
}
