<!doctype html>
<html>
<head>
    <meta http-equiv="Refresh" content="0; url="{{{url}}}">
    <meta charset="utf-8">
    <title>Redirect</title>
    <meta name="description" content="Redirect">
    <script type="text/javascript">
        window.location = "{{{url}}}";
        // Double redirect - in case meta redirect is banned by browser policy, and in case javascript is disabled.
    </script>
</head>
<body>
    <p>Redirecting to <a href="{{{url}}}">{{{url}}}</a>...</p>
</body>
</html>
